# Credenciais de Login
LOGIN_USERNAME=satoshi
LOGIN_PASSWORD=nakamoto2009

# Configurações do Banco de Dados
DATABASE_URL="file:./db.sqlite"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"

# Discord OAuth (opcional)
DISCORD_CLIENT_ID="your-discord-client-id"
DISCORD_CLIENT_SECRET="your-discord-client-secret"
